* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Roboto", system-ui;
  line-height: 1.6rem;
  gap: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f0ef;
}

header {
  text-align: center;
  background-color: #ab2330;
  padding: 1rem;
  color: white;
}

#main-heading {
  grid-area: main-heading;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}
#vehicle-catalogue {
  display: grid;
  grid-area: vehicle-catalogue;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "main-heading main-heading main-heading main-heading"
    "loadXML loadXML loadXML loadXML"
    "vehicle-list vehicle-list vehicle-list vehicle-list";
}

#vehicle-list {
  display: grid;
  grid-area: vehicle-list;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: #ab2330;
  color: white;
}

#loadXML {
  grid-area: loadXML;
  background-color: #ab2330;
  border-radius: 4px;
  color: white;
  padding: 12px;
  font-size: 1em;
  margin: 0 auto 1em;
  max-width: 600px;
}

#loadXML:hover {
  border-color: blue;
  transform: scale(1.2);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ab2330;
  color: white;
}
