* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
  grid-gap: 2em;
  max-width: 960px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", system-ui;
  line-height: 1.6rem;
  gap: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f0ef;
}

header {
  text-align: center;
  background-color: #ab2330;
  padding: 1rem;
  color: white;
}

main {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "main-heading main-heading main-heading main-heading"
    "vehicle vehicle vehicle vehicle";
}
#main-heading {
  display: grid;
  grid-area: main-heading;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

article {
  grid-area: vehicle;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
footer {
  margin-top: auto;
  text-align: center;
  background-color: #ab2330;
  color: white;
}

#loadXML {
  background-color: #ab2330;
  border-radius: 4px;
  color: white;
  padding: 12px;
  font-size: 1em;
}

#loadXML:hover {
  border-color: blue;
  transform: scale(1.2);
}
